$code-font-family: "JetBrains Mono", monospace !default;

code {
  padding: 0.2em 0.4em;
  background-color: var(--inline-code-background);
  border-radius: 4px;
  font-family: $code-font-family;
  font-size: 0.88em;
}

pre {
  margin: 0 0 1rem;
  white-space: pre-wrap;
  font-family: $code-font-family;
}

pre code {
  color: inherit;
  font-size: 100%;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.highlight {
  border-radius: 6px;
  line-height: 1.5;
  margin: 0.5rem 0 1rem;
  padding: 0.75rem 1rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    display: inline-block;
    padding: 0 0.75rem 0 0.25rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    color: var(--subtext-color);
    opacity: 0.5;
  }
}
