@use "colors/_macchiato" as *;

:root {
  --base-color: #{$macchiato-blue};
  --accent-color: #{$macchiato-lavender};
  --border-color: #{$macchiato-surface1};
  --selection-background: #{rgba($macchiato-blue, 0.3)};
  --selection-text: #{$macchiato-text};
  --background-color: #{$macchiato-base};
  --text-color: #{$macchiato-text};
  --heading-color: #{$macchiato-text};
  --subtext-color: #{$macchiato-subtext0};
  --link-color: #{$macchiato-blue};
  --link-underline-color: #{rgba($macchiato-blue, 0.3)};
  --link-hover-color: #{$macchiato-sapphire};
  --link-hover-bg: #{rgba($macchiato-blue, 0.1)};
  --inline-code-background: #{$macchiato-surface1};
  --blockquote-bg: #{rgba($macchiato-surface0, 0.5)};
  --table-header-bg: #{$macchiato-mantle};
  --table-stripe-bg: #{rgba($macchiato-surface0, 0.3)};

  --code-color-1: #{$macchiato-green};
  --code-color-2: #{$macchiato-text};
  --code-color-3: #{$macchiato-red};
  --code-color-4: #{$macchiato-maroon};
  --code-color-5: #{$macchiato-teal};
  --code-color-6: #{$macchiato-sky};
  --code-color-7: #{$macchiato-red};
  --code-color-8: #{$macchiato-teal};
  --code-color-9: #{$macchiato-blue};
  --code-color-10: #{$macchiato-blue};
  --code-color-11: #{$macchiato-text};
  --code-color-12: #{$macchiato-red};
  --code-color-13: #{$macchiato-teal};
  --code-color-14: #{$macchiato-blue};
  --code-color-15: #{$macchiato-red};
  --code-color-16: #{$macchiato-teal};
  --code-color-17: #{$macchiato-red};
  --code-color-18: #{$macchiato-blue};
}
