---
# Only the main Sass file needs front matter (the dashes are enough)
---

@use "_base";
@use "_code";
@use "colors/_frappe";
@use "theme/_theme-frappe";
@use "syntax-highlighting/_syntax-frappe";
